<nav class="navbar navbar-expand-lg navBar">
            <div class="containerImg">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img class="logo" src="../../static/img/Egg.png" alt="Img logo egg">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto elementos">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:if="${session.usersession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Books
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" sec:authorize="hasAuthority('ADMIN')" th:href="@{/book/register}">Create Book</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item" th:href="@{/book/list}">Book List</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:if="${session.usersession != null}" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Authors
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" sec:authorize="hasAuthority('ADMIN')" th:href="@{/author/register}">Create Author</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item" th:href="@{/author/list}">Authors List</a></li>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:if="${session.usersession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Publisher
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" sec:authorize="hasAuthority('ADMIN')" th:href="@{/publisher/register}">Create Publisher</a></li>
                            <li><hr class="dropdown-divider"></li>

                            <li><a class="dropdown-item" th:href="@{/publisher/list}">Publisher List</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout" >Log Out</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " th:if="${session.usersession == null}" href="/register" id="navbarDropdown" role="button" aria-expanded="false">
                            Register
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:if="${session.usersession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                            LOGIN!
                        </a>

                    </li>
                </ul>
            </div>
        </nav>