<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Register an author</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link rel="stylesheet" href="../static/css/formulario.css">

                </head>
                <body>
                    <nav class="navbar navbar-expand-lg navBar">
                        <div class="containerImg">
                            <a href="/" class="navbar-brand d-flex align-items-center">
                                <img class="logo" src="../static/img/Egg.png" alt="Img logo egg" width="45px">
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
                            <ul class="navbar-nav ms-auto elementos">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Books
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                        <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/book/register}">Create Book</a></li>
                                        <li><hr class="dropdown-divider"></li>

                                        <li><a class="dropdown-item" th:href="@{/book/list}">Books List</a></li>
                                    </ul>
                                </li>


                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Authors
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                        <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/author/register}">Create Author</a></li>
                                        <li><hr class="dropdown-divider"></li>

                                        <li><a class="dropdown-item" th:href="@{/author/list}">Authors List</a></li>
                                    </ul>
                                </li>



                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Publisher
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                        <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/publisher/register}">Create Publisher</a></li>
                                        <li><hr class="dropdown-divider"></li>

                                        <li><a class="dropdown-item" th:href="@{/publisher/list}">Publishers List</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div>
                        <h2>Register New Author</h2>
                        <form action="/author/registry" method="POST">
                            <input type="text" name="name" required="required" placeholder="enter author name"/>
                            <br/>
                            <input type="submit" value="send"/>
                        </form>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
                </body>
                </html>
